*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url(./bg-intro-desktop.png);
    background-color: rgb(216, 73, 29);
    color: white;
    font-family: sans-serif;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50rem;
    
}
.code{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    width: 25rem;
}
.p{
    font-size: 12px;
    line-height: 17px;
}
.codeB{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    width: 25rem;
    height: 20rem;

}
form{
    display: flex;
    flex-direction: column;
    padding: 1rem;
   
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 7px;
    background-color: white;
}
input{
    width: 18rem;
    height: 40px;
    border-radius: 7px;
    margin: 4px;
    border: 0.1px solid grey;
    padding: 1rem;
}
button{
    background-color: rgb(44, 164, 44);
    color: aliceblue;
    border-radius: 7px;
    border: 1px solid white;
    height: 2rem; 
    margin: 4px;
    transition: .5s ease;
    cursor: pointer;
}
button:hover{
    background-color: orange;
    color:rgb(44, 164, 44) ;
    cursor: pointer;
    transform: scale(1);
}
footer{
    font-size: 9px;
    color: grey;
    margin-bottom: 2rem;
}
#terms{
    color: red;
}
.try{
    padding: 0.3rem;
    width: 20rem;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    background-color: rgb(31, 31, 92);
}
#then{
    color: rgb(194, 189, 189);
}



